body {
    font-family: 'Rubik', sans-serif;
    background-color: #160d00;
    letter-spacing: 3px;


}

.tausta {
    background-color: rgb(245, 242, 239);
    background-size: cover;
    height: 500px;
    position: relative;
  }
input {
  padding: 10px;
  border: 0;
  box-shadow:0 0 25px 4px rgba(0,0,0,0.06);
}

.button {
    background-color: #160d00;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Rubik';
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #927236;
    color: black;
  }

div {
    margin: 30px;
    border: 1px solid black;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: large;
  }